This VM is auto-created using Ansbile. Please get in touch with {{ vm_owner }} if you have any issues.

Here are some important details about this VM.

Hostname : {{ ansible_facts['hostname'] }}.

IP Address : {{ ansible_facts['default_ipv4']['address'] }}.

Linux Distrituion: {{ ansible_facts['distribution'] }}.

Linux Distribution Version: {{ ansible_facts['distribution_version'] }}



